.Navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f9d58;
}

.Header {
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 32px;
}